style(type="text/css").
    .construction {
        background-color: var(--primary);
        color: white;
        margin: auto;
        position: fixed;
        top:50%;
        left:50%;
        border-radius: 10px;
        padding: 1rem;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
.construction() 
    h1 Under Construction
    p please comeback later 
    //- 07066632957
     
