<svg width="52" height="18" viewBox="0 0 52 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.47053 17.7808C0.859884 17.7 0.214782 17.5261 0.0368154 17.3936C-0.148285 17.2561 0.38018 15.8537 1.27169 14.1173C2.12887 12.4477 2.93673 10.5325 3.06697 9.86142C3.46571 7.80883 3.61696 7.4566 4.16697 7.30265C4.47677 7.21589 7.80493 8.86158 12.1808 11.2654C21.6007 16.4401 22.955 17.2803 22.4623 17.6436C22.0671 17.935 3.55564 18.056 1.47053 17.7808Z" fill="url(#paint0_linear)"></path>
  <path d="M17.2378 13.3055C6.52884 7.61925 5.17067 6.7778 5.69485 6.15387C5.79547 6.03432 7.36718 5.29401 9.18797 4.50884C11.0086 3.72371 13.4048 2.46946 14.5128 1.72169C15.6208 0.973881 16.7771 0.398043 17.0823 0.441994C17.4537 0.495563 18.6099 2.79189 20.5727 7.37307C23.8973 15.1321 24.648 16.3469 23.8171 16.3406C23.513 16.3383 20.3499 14.958 17.2378 13.3055Z" fill="url(#paint1_linear)"></path>
  <path d="M24.2311 13.5356C22.1849 9.38449 18.7288 0.797377 18.9414 0.392665C19.1202 0.051937 19.8599 0.0226635 23.501 0.212291C26.1964 0.352889 28.8205 0.328752 30.4105 0.148969C32.1707 -0.050088 33.0926 -0.0498875 33.3523 0.150967C33.8071 0.499667 33.3564 1.60605 29.7781 8.91933C26.7565 15.0954 26.3868 15.7221 25.7682 15.7174C25.5128 15.7154 24.8213 14.7342 24.2311 13.5369L24.2311 13.5356Z" fill="url(#paint2_linear)"></path>
  <path d="M27.5945 16.2452C27.4002 15.8533 33.0795 3.29108 34.1163 1.81925C34.4245 1.38199 34.8806 1.02597 35.1302 1.02815C35.3798 1.03039 36.9084 1.79506 38.5273 2.72752C40.1461 3.66001 42.5911 4.83867 43.9605 5.3468C45.3975 5.87996 46.4478 6.44742 46.4441 6.68868C46.4408 6.91866 42.8694 8.97834 38.5081 11.2659C28.9283 16.2905 27.8586 16.7785 27.5945 16.2452Z" fill="url(#paint3_linear)"></path>
  <path d="M32.9582 17.8159C31.1258 17.7487 29.5004 17.5971 29.346 17.4787C28.9132 17.1467 30.5316 16.1558 38.4065 11.9311C46.4037 7.64084 47.1824 7.29205 47.7653 7.73926C47.9767 7.90164 48.5509 9.27587 49.0411 10.7935C49.5311 12.311 50.421 14.3445 51.0182 15.3123C52.7715 18.1533 53.082 18.034 44.0684 17.9824C39.7901 17.9566 34.7905 17.884 32.9582 17.8158V17.8159Z" fill="url(#paint4_linear)"></path>
  <defs>
    <linearGradient id="paint0_linear" x1="7.28362" y1="13.8329" x2="18.898" y2="20.5237" gradientUnits="userSpaceOnUse">
      <stop stop-color="#8C5DD0"></stop>
      <stop offset="1" stop-color="#3A1D65" stop-opacity="0.816327"></stop>
    </linearGradient>
    <linearGradient id="paint1_linear" x1="14.3454" y1="7.20206" x2="17.9009" y2="16.5512" gradientUnits="userSpaceOnUse">
      <stop stop-color="#5D71D0"></stop>
      <stop offset="1" stop-color="#212F71" stop-opacity="0.784314"></stop>
    </linearGradient>
    <linearGradient id="paint2_linear" x1="25.8945" y1="4.83707" x2="25.7203" y2="16.0278" gradientUnits="userSpaceOnUse">
      <stop stop-color="#0096BE"></stop>
      <stop offset="1" stop-color="#004F65" stop-opacity="0.756863"></stop>
    </linearGradient>
    <linearGradient id="paint3_linear" x1="36.8311" y1="6.87361" x2="32.7502" y2="18.1166" gradientUnits="userSpaceOnUse">
      <stop stop-color="#DA45BC"></stop>
      <stop offset="1" stop-color="#821A73" stop-opacity="0.843137"></stop>
    </linearGradient>
    <linearGradient id="paint4_linear" x1="44.4112" y1="13.4575" x2="32.3506" y2="20.8839" gradientUnits="userSpaceOnUse">
      <stop stop-color="#D84182"></stop>
      <stop offset="1" stop-color="#5D1632" stop-opacity="0.756863"></stop>
    </linearGradient>
  </defs>
</svg>
//- svg(width='52' height='18' viewbox='0 0 52 18' fill='none' xmlns='http://www.w3.org/2000/svg')


    path(d='M1.47053 17.7808C0.859884 17.7 0.214782 17.5261 0.0368154 17.3936C-0.148285 17.2561 0.38018 15.8537 1.27169 14.1173C2.12887 12.4477 2.93673 10.5325 3.06697 9.86142C3.46571 7.80883 3.61696 7.4566 4.16697 7.30265C4.47677 7.21589 7.80493 8.86158 12.1808 11.2654C21.6007 16.4401 22.955 17.2803 22.4623 17.6436C22.0671 17.935 3.55564 18.056 1.47053 17.7808Z' fill='url(#paint0_linear)')
    path(d='M17.2378 13.3055C6.52884 7.61925 5.17067 6.7778 5.69485 6.15387C5.79547 6.03432 7.36718 5.29401 9.18797 4.50884C11.0086 3.72371 13.4048 2.46946 14.5128 1.72169C15.6208 0.973881 16.7771 0.398043 17.0823 0.441994C17.4537 0.495563 18.6099 2.79189 20.5727 7.37307C23.8973 15.1321 24.648 16.3469 23.8171 16.3406C23.513 16.3383 20.3499 14.958 17.2378 13.3055Z' fill='url(#paint1_linear)')
    path(d='M24.2311 13.5356C22.1849 9.38449 18.7288 0.797377 18.9414 0.392665C19.1202 0.051937 19.8599 0.0226635 23.501 0.212291C26.1964 0.352889 28.8205 0.328752 30.4105 0.148969C32.1707 -0.050088 33.0926 -0.0498875 33.3523 0.150967C33.8071 0.499667 33.3564 1.60605 29.7781 8.91933C26.7565 15.0954 26.3868 15.7221 25.7682 15.7174C25.5128 15.7154 24.8213 14.7342 24.2311 13.5369L24.2311 13.5356Z' fill='url(#paint2_linear)')
    path(d='M27.5945 16.2452C27.4002 15.8533 33.0795 3.29108 34.1163 1.81925C34.4245 1.38199 34.8806 1.02597 35.1302 1.02815C35.3798 1.03039 36.9084 1.79506 38.5273 2.72752C40.1461 3.66001 42.5911 4.83867 43.9605 5.3468C45.3975 5.87996 46.4478 6.44742 46.4441 6.68868C46.4408 6.91866 42.8694 8.97834 38.5081 11.2659C28.9283 16.2905 27.8586 16.7785 27.5945 16.2452Z' fill='url(#paint3_linear)')
    path(d='M32.9582 17.8159C31.1258 17.7487 29.5004 17.5971 29.346 17.4787C28.9132 17.1467 30.5316 16.1558 38.4065 11.9311C46.4037 7.64084 47.1824 7.29205 47.7653 7.73926C47.9767 7.90164 48.5509 9.27587 49.0411 10.7935C49.5311 12.311 50.421 14.3445 51.0182 15.3123C52.7715 18.1533 53.082 18.034 44.0684 17.9824C39.7901 17.9566 34.7905 17.884 32.9582 17.8158V17.8159Z' fill='url(#paint4_linear)')
    defs
      lineargradient#paint0_linear(x1='7.28362' y1='13.8329' x2='18.898' y2='20.5237' gradientunits='userSpaceOnUse')
        stop(stop-color='#8C5DD0')
        stop(offset='1' stop-color='#3A1D65' stop-opacity='0.816327')
      lineargradient#paint1_linear(x1='14.3454' y1='7.20206' x2='17.9009' y2='16.5512' gradientunits='userSpaceOnUse')
        stop(stop-color='#5D71D0')
        stop(offset='1' stop-color='#212F71' stop-opacity='0.784314')
      lineargradient#paint2_linear(x1='25.8945' y1='4.83707' x2='25.7203' y2='16.0278' gradientunits='userSpaceOnUse')
        stop(stop-color='#0096BE')
        stop(offset='1' stop-color='#004F65' stop-opacity='0.756863')
      lineargradient#paint3_linear(x1='36.8311' y1='6.87361' x2='32.7502' y2='18.1166' gradientunits='userSpaceOnUse')
        stop(stop-color='#DA45BC')
        stop(offset='1' stop-color='#821A73' stop-opacity='0.843137')
      lineargradient#paint4_linear(x1='44.4112' y1='13.4575' x2='32.3506' y2='20.8839' gradientunits='userSpaceOnUse')
        stop(stop-color='#D84182')
        stop(offset='1' stop-color='#5D1632' stop-opacity='0.756863')