@mixin button {
  display: inline;
  text-transform: capitalize;
  padding: 0.75rem 1rem;
  font-weight: 600;
  letter-spacing: 0.005em;
  outline: none;
  border: none;
  color: white;
  // position: relative;
  // z-index: -1;
  transition: all 0.3s ease-in;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(118, 169, 250, 0.45);
  }
}

@mixin normal-button($input-color) {
  $color: if($input-color, $input-color, $primary);
  background-color: if($input-color, $input-color, transparent);
  color: if($input-color, white, $primary);
  font-weight: bolder;
  border: 1px solid $color;

  &:hover {
    color: white;
    background-color: darken($color, 10);
    box-shadow: 0 0 5px 3px $color;
    text-shadow: 0 0 5px 3px $color;
  }
}

@mixin button-3d($input-color) {
  $color: if($input-color, $input-color, $primary);
  background-color: if($input-color, $input-color, transparent);
  color: if($input-color, white, $primary);
  border: 1px solid $color;
  box-shadow: -3px 3px 2px darken($color, 15);

  &:hover {
    border: none;
    background-color: darken($color, 15);
    box-shadow: -2px 2px 1px darken($color, 15);
  }
}

.btn {
  @include button;
  border-radius: 0.25rem;

  &-pill {
    @include button;
    border-radius: 9999px;
  }

  &-outline {
    @include normal-button(false);
    color: var(--btn-outline);

  }

  &-primary {
    @include normal-button($primary);
  }

  &-info {
    @include normal-button(blue);
  }

  &-success {
    @include normal-button(green);
  }

  &-warning {
    @include normal-button(orange);
  }

  &-danger {
    @include normal-button(red);
  }
}

/* 3d buttons */
.btn-3d {
  @include button;
  border-radius: 4px;
  font-size: 1.25em;

  &:hover {
    top: 1.5px;
    left: -1.5px;
  }

  &-outline {
    @include button-3d(false);
  }

  &-primary {
    @include button-3d($primary);
  }

  &-info {
    @include button-3d(blue);
  }

  &-success {
    @include button-3d(green);
  }

  &-warning {
    @include button-3d(orange);
  }

  &-danger {
    @include button-3d(red);
  }
}

/* animated buttons */
@mixin btn-animated($color) {
  @include button();
  background-color: $color;
  padding: 0.75rem 2.5rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: cursive;
  border: 1px solid darken($color, 20);

  &:hover {
    padding-left: 1rem;
    padding-right: 4rem;

    &::after {
      right: 1rem;
      opacity: 1;
    }
  }

  &::after {
    content: ">>";
    font-size: 7px;
    font-weight: normal;
    font-size: 1.125rem;
    letter-spacing: 0;
    position: absolute;
    top: 33.33%;
    right: 0.5rem;
    opacity: 0;
    letter-spacing: 0;
    transition: all 300ms ease-in;
  }
}

.btn-animated-primary {
  @include btn-animated($primary);
}

.btn-animated-secondary {
  @include btn-animated($secondary);
}
