<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gizo
        link(rel="stylesheet", href="../scss/app.scss")
    body.theme-light
        .overlay

        include ../includes/header.pug
        include ../includes/construction.pug
        
        script(src="../js/index.js")
