
.theme-light{
    --bg: #{$bg-light};
    --nav-primary : #{$primary};
    --nav-btn : #{$primary-dark};
    --nav-btn-hover: #{$primary-darker} ;
    --text: #{$text-light};
    --btn-hover: #{$primary-dark};
    --text-secondary: #{$secondary};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --tertiary: #{$tertiary} ;
    --complimentary: #{$complimentary} ;
    --hover: #{$primary-lighter};
    --form: #{transparentize($primary-lightest, 0.5)};
    --focus: #{$primary-light};
    --link-hover: #{$primary-dark};
    --btn-outline: #{$primary};
    transition: all 1000ms ease-in-out, color 1000ms ease-in-out;

 }
